# dependencies
/node_modules
node_modules/

# production
/build
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# testing
/coverage

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.pnp.js
/.pnp